


body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}
h1 {
  color: #333;
  text-align: center;

}
h2 {
  color: #555;
  margin-top: 40px;
  text-align: center;
}
p {
  color: #666;
}

audio, video {
  display: block;
  margin: 20px auto;
}

img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}
.description {
  text-align: center;
  margin: 20px auto;
  color: #666;
  max-width: 600px;
  border: 1px solid #ccc;
  padding: 10px;
}
.survey-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}
.survey-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007BFF;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s;
}
.survey-button:hover {
  background-color: #0056b3;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.form-group label {
  margin-right: 10px;
}
label, input, textarea, button {
  margin: 10px 0;
}
button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
.radio-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.radio-group input {
  margin-right: 5px;
}
